In [6]:
import numpy as np
import pandas as pd

#modules for statistics
import math
import statistics
from scipy imports stats

SyntaxError: invalid syntax (2920350864.py, line 7)

# Mean, Median, Mode, and Central Tendency

mean = average, balance point = sum of all numbers/total numbers of values = arithmetic mean

median = middle number when all the values are put in order. If there is an odd number of values, the median is one number. If there is an even number of numbers, you take the middle two and average them. Outliers do not impact the median very much.

mode = number that occurs the most often

Central Tendency = a single value that attempts to describe the whole set of data.
This Number represents the middle or center of its distribution.

In [7]:
belize_listings_path = "belize_airbnb_listings.csv"
belize_df = pd.read_csv(belize_listings_path)

#belize_df.head()
belize_df.tail()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2791,48283996,Magical Island,17994012,Ronald,Belize,Belize Islands,17.945690,-87.944620,Entire home/apt,1054,3,0,NaN,NaN,2,347
2792,48287613,"The Luxury Suite - Corozal, Bz- 3Bdr/2bthr CASA1",375769845,Michael,Corozal,Corozal,18.374630,-88.400190,Entire home/apt,401,3,0,NaN,NaN,2,302
2793,48296096,Lagoon front apartment w/shared pool - two mi...,76414486,Vacasa Belize,Belize,Belize Islands,17.934580,-87.955220,Entire home/apt,252,1,0,NaN,NaN,204,364
2794,48296978,Beachfront Poolside Condo,15308338,Alexandra,Belize,Belize Islands,17.930010,-87.957120,Entire home/apt,242,3,0,NaN,NaN,4,364
2795,48332221,Standard Room - San Ignacio Resort Hotel,60399527,San Ignacio,Cayo,Cayo,17.154127,-89.069689,Private room,226,1,0,NaN,NaN,5,365

In [9]:
belize_df.describe()

,id,host_id,latitude,longitude,price,minimum_nights,number_of_reviews,reviews_per_month,calculated_host_listings_count,availability_365
count,2.796000e+03,2.796000e+03,2796.000000,2796.000000,2796.000000,2796.000000,2796.000000,1810.000000,2796.000000,2796.000000
mean,2.792490e+07,1.240278e+08,17.448295,-88.292035,357.102289,2.263948,14.453505,0.538088,22.848355,280.315451
std,1.288964e+07,1.018001e+08,0.537440,0.383876,563.124825,5.669843,30.327768,0.662154,51.711183,120.617632
min,3.666600e+04,1.507890e+05,16.079260,-89.150680,20.000000,1.000000,0.000000,0.010000,1.000000,0.000000
25%,1.870854e+07,4.389292e+07,17.129573,-88.371015,135.000000,1.000000,0.000000,0.110000,2.000000,221.000000
50%,2.891586e+07,9.171577e+07,17.735145,-88.205560,220.000000,2.000000,2.000000,0.275000,6.000000,349.000000
75%,3.977962e+07,1.875677e+08,17.913837,-87.973793,394.250000,3.000000,13.000000,0.700000,14.000000,364.000000
max,4.833222e+07,3.890334e+08,18.468140,-87.593140,11788.000000,180.000000,316.000000,5.920000,204.000000,365.000000

In [14]:
#get mean of price, minimum_nights, and number_of_reviews
belize_df[["price","minimum_nights", "number_of_reviews"]].mean()

price                357.102289
minimum_nights         2.263948
number_of_reviews     14.453505
dtype: float64

In [13]:
belize_df[["price","minimum_nights", "number_of_reviews"]].median()

price                220.0
minimum_nights         2.0
number_of_reviews      2.0
dtype: float64

In [15]:
belize_df[["price","minimum_nights", "number_of_reviews"]].mode()

   price  minimum_nights  number_of_reviews
0    151             1.0                0.0
1    252             NaN                NaN

In [16]:
import matplotlib.pyplot as plt
#Histogram only looks at frequency therefore doesn't need y-axis
n, bins, patches = plt.hist(x=belize_df['price'], bins = 'auto')
plt.xlabel('price')
plt.ylabel('frequency')

ModuleNotFoundError: No module named 'matplotlib'

In [20]:
def variance(data, ddof=0):
    n = len(data)
    mean = sum(data)/n
    variance = sum((x-mean)**2 for x in data)/(n-ddof)
    return variance

In [26]:
#variance - 1 DOF if a sample but 0 if a population
variance(belize_df['price'])

316996.15262709244

In [27]:
import statistics
statistics.stdev(belize_df['price'])

563.1248245871558

In [56]:
import pandas as pd

belize_listings_path = 'belize_airbnb_listings.csv'
belize_df = pd.read_csv(belize_listings_path)
belize_df.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.00,5,225
1,36690,Mo's Cozy Cabana w/ comfy veranda & access to ...,157752,Monique,Belize,Belize Islands,17.74832,-88.02474,Entire home/apt,71,3,316,2/19/2021,2.46,5,164
2,108932,Purple House eco solar w/ ocean & wildlife views,563377,Michael,Belize,Belize Islands,17.73221,-88.03824,Entire home/apt,191,2,30,3/14/2020,0.78,1,364
3,110483,Michelo's fuchsia suite,567809,Michel,Stann Creek,Stann Creek Mainland,16.52114,-88.36926,Hotel room,121,1,27,2/24/2020,0.29,3,331
4,120115,Seaside Villas Second Floor Unit #4,604999,Bobbi,Belize,Belize Islands,17.74166,-88.02395,Entire home/apt,343,1,30,3/18/2020,0.64,22,203

In [58]:
grouped_df = belize_df.groupby("neighbourhood")
neighbourhood_grouped = grouped_df[['price', 'number_of_reviews', 'availability_365']].agg(
    {'price': 'mean',
    'number_of_reviews': 'sum',
    'availability_365': 'max'}
)

neighbourhood_grouped.head()

                      price  number_of_reviews  availability_365
neighbourhood
Belize Islands   399.442824              22995               365
Belize Mainland  288.273063               4105               365
Cayo             205.847525               7356               365
Corozal          156.553846                492               365
Orange Walk      122.035714                415               365